<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.webport.caddy</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/libexec/webport/run-caddy</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/usr/local/var/lib/caddy</string>
	</dict>
	<key>WorkingDirectory</key>
	<string>/usr/local/var/lib/caddy</string>
	<key>StandardOutPath</key>
	<string>/usr/local/var/log/caddy/caddy.log</string>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/caddy/caddy.log</string>
</dict>
</plist>
